body {
background-color: black;
text-align: center;
}

p{
font-family: cursive;
color: aliceblue
}

.button {
border: none;
colour: green;
padding: 1000px;
}

.header {
padding: 60px;
text-align: center;
color: white;
font-size: 30px;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;
}

